<center><strong><h1>TUGAS I</h1></strong><br />
<strong><font color="blue"><h2>PENGANTAR DATA MINING â€“ PYTHON FUNDAMENTAL</h2></font></strong></center>
<br>
<center>
    <h2>Maftuh Mashuri</h2>
    <h2>11160940000076</h2>
</center>

<h2>1. Jelaskan tipe-tipe data pada python beserta contohnya dalam bentuk code!</h2>
<ul>
    <li>List</li>
    <li>Stirng</li>
    <li>Dictionary</li>
    <li>Tuples</li>
    <li>Numbers</li>
</ul>

<h3>- List</h3>
<p>List adalah array yang berarti sekumpulan variabel yang dapat diubah elemennya. Dalam Python ditulis dengan tanda kurung kotak.</p>
<p>Contoh :</p>

In [5]:
buah = ["apel", "pisang", "ceri"]
angka = [1, 2, 3, 4, 5]
print(buah)
print(angka)
print(type(buah))

['apel', 'pisang', 'ceri']
[1, 2, 3, 4, 5]
<class 'list'>

<h3>- String</h3>
<p>String adalah tipe data yang terdiri dari huruf a-z. Dalam python dikelilingi oleh tanda kutip tunggal, atau tanda kutip ganda.</p>
<p>contoh : </p>

In [6]:
a = "Maftuh Mashuri"
print(a)
print(type(a))

Maftuh Mashuri
<class 'str'>

<h3>- Dictionary</h3>
<p>Dictionary adalah kumpulan variabel yang tidak berurutan, dapat diubah, dan diindeks. Dictionary dalam Python ditulis dengan kurung kurawal, dan mereka memiliki kunci dan nilai.</p>
<p>Contoh : </p>

In [7]:
data = {
    "nama_pertama": "Maftuh",
    "nama_kedua": "Mashuri",
    "umur": 20,
    "nim": "11160940000076"
}
print(data)
print(data["nama_pertama"])
print(type(data))

{'nama_pertama': 'Maftuh', 'nama_kedua': 'Mashuri', 'umur': 20, 'nim': '11160940000076'}
Maftuh
<class 'dict'>

<h3>- Tuples</h3>
<p>Sebuah tuple adalah array atau kumpulan variabel yang tidak dapat diubah. Tuple dalam python ditulis dengan kurung bulat.</p>
<p>Contoh : </p>

In [8]:
buah = ("apel", "pisang", "ceri")
angka = (1, 2, 3, 4, 5)
print(buah)
print(angka)
print(type(buah))

('apel', 'pisang', 'ceri')
(1, 2, 3, 4, 5)
<class 'tuple'>

<h3>- Numbers</h3>
<p>Numbers adalah tipe data numerik.</p>
<p>Tipe data numerik dalam python diantaranya: </p>
<ul>
    <li>Integer</li>
    <li>Real</li>
    <li>Kompleks</li>
</ul>
<p>Contoh : </p>

In [9]:
x = 9
y = 5.8
z = 1 + 1j
print(x, y, z)
print(type(x), type(y), type(z))

9 5.8 (1+1j)
<class 'int'> <class 'float'> <class 'complex'>

<h2>2. Jelaskan tipe-tipe operator pada python beserta contohnya dalam bentuk code!</h2>
<ul>
    <li>Arithmetic Operators</li>
    <li>Comparison Opetators</li>
    <li>Assignment Operators</li>
    <li>Logical Operators</li>
    <li>Bitwise Operators</li>
    <li>Membership Operators</li>
    <li>Identity Operators</li>
</ul>

<h3>- Arithmetic Operators</h3>
<p>Arithmetic Operators atau Operator aritmatika digunakan dengan nilai numerik untuk melakukan pengoperasian matematika umum:</p>
<table style="margin-left:0;">
    <tbody>
        <tr>
            <th>Operator</th>
            <th>Nama Operator</th>
        </tr>
        <tr>
            <td>+</td>
            <td>Penjumlahan</td>
        </tr>
        <tr>
            <td>-</td>
            <td>Pengurangan</td>
        </tr>
        <tr>
            <td>*</td>
            <td>Perkalian</td>
        </tr>
        <tr>
            <td>/</td>
            <td>Pembagian</td>
        </tr>
        <tr>
            <td>%</td>
            <td>Modulus</td>
        </tr>
        <tr>
            <td>**</td>
            <td>Pangkat</td>
        </tr>
        <tr>
            <td>//</td>
            <td>Pembagian Kebawah</td>
        </tr>
    </tbody>
</table>
<p>Contoh :</p>

In [11]:
x = 6
y = 3

z = x + y
print(z)

z = x - y
print(z)

z = x * y
print(z)

z = x / y
print(z)

z = x % y
print(z)

z = x ** y
print(z)

z = x // y
print(z)

9
3
18
2.0
0
216
2

<h3>- Comparison Operators</h3>
<p>Comparison operators digunakan untuk membandingkan dua nilai:</p>
<p>Contoh :</p>
<table style="margin-left:0;">
    <tbody>
        <tr>
            <th style="width:25%">Operator</th>
            <th style="width:40%">Nama</th>
            <th style="width:30%">Contoh</th>
        </tr>
        <tr>
            <td>==</td>
            <td>Sama dengan atau setara</td>
            <td>x == y</td>
        </tr>
        <tr>
            <td>!=</td>
            <td>Tidak sama dengan atau tidak setara</td>
            <td>x != y</td>
        </tr>
        <tr>
            <td>&gt;</td>
            <td>Lebih besar dari</td>
            <td>x &gt; y</td>
        </tr>
        <tr>
            <td>&lt;</td>
            <td>Lebih kecil dari</td>
            <td>x &lt; y</td>
        </tr>
        <tr>
            <td>&gt;=</td>
            <td>Lebih besar atau sama dengan</td>
            <td>x &gt;= y</td>
        </tr>
        <tr>
            <td>&lt;=</td>
            <td>Lebih kecil atau sama dengan</td>
            <td>x &lt;= y</td>
        </tr>
    </tbody>
</table>

<h3>- Assignment Operators</h3>
<p>Assignment operators digunakan untuk menetapkan nilai ke variabel:</p>
<p>Contoh :</p>
<table style="margin-left:0;">
    <tbody>
        <tr>
            <th style="width:25%">Operator</th>
            <th style="width:20%">Contoh</th>
            <th style="width:20%">Akan sama dengan</th>
        </tr>
        <tr>
            <td>=</td>
            <td>x = 5</td>
            <td>x = 5</td>
        </tr>
        <tr>
            <td>+=</td>
            <td>x += 3</td>
            <td>x = x + 3</td>
        </tr>
        <tr>
            <td>-=</td>
            <td>x -= 3</td>
            <td>x = x - 3</td>
        </tr>
        <tr>
            <td>*=</td>
            <td>x *= 3</td>
            <td>x = x * 3</td>
        </tr>
        <tr>
            <td>/=</td>
            <td>x /= 3</td>
            <td>x = x / 3</td>
        </tr>
        <tr>
            <td>%=</td>
            <td>x %= 3</td>
            <td>x = x % 3</td>
        </tr>
        <tr>
            <td>//=</td>
            <td>x //= 3</td>
            <td>x = x // 3</td>
        </tr>
        <tr>
            <td>**=</td>
            <td>x **= 3</td>
            <td>x = x ** 3</td>
        </tr>
        <tr>
            <td>&amp;=</td>
            <td>x &amp;= 3</td>
            <td>x = x &amp; 3</td>
        </tr>
        <tr>
            <td>|=</td>
            <td>x |= 3</td>
            <td>x = x | 3</td>
        </tr>
        <tr>
            <td>^=</td>
            <td>x ^= 3</td>
            <td>x = x ^ 3</td>
        </tr>
        <tr>
            <td>&gt;&gt;=</td>
            <td>x &gt;&gt;= 3</td>
            <td>x = x &gt;&gt; 3</td>
        </tr>
        <tr>
            <td>&lt;&lt;=</td>
            <td>x &lt;&lt;= 3</td>
            <td>x = x &lt;&lt; 3</td>
        </tr>
    </tbody>
</table>

<h3>- Logical Operators</h3>
<p>Logical operators digunakan untuk menggabungkan pernyataan bersyarat:</p>
<p>Contoh :</p>
<table style="margin-left:0;">
    <tbody>
        <tr>
            <th style="width:10%">Operator</th>
            <th style="width:35%">Deskripsi</th>
            <th style="width:30%">Contoh</th>
        </tr>
        <tr>
            <td>and&nbsp;</td>
            <td>Mengembalikan nilai benar jika kedua pernyataan benar.</td>
            <td>x &lt; 5 and&nbsp; x &lt; 10</td>
        </tr>
        <tr>
            <td>or</td>
            <td>Mengembalikan nilai benar jika salah satu pernyataan benar.</td>
            <td>x &lt; 5 or x &lt; 4</td>
        </tr>
        <tr>
            <td>not</td>
            <td>Membalikkan hasilnya, mengembalikan nilai salah jika hasilnya benar.</td>
            <td>not(x &lt; 5 and x &lt; 10)</td>
        </tr>
    </tbody>
</table>

<h3>- Bitwise operators</h3>
<p>Bitwise operators digunakan untuk membandingkan angka (biner):</p>
<table style="margin-left:0;">
    <tbody>
        <tr>
            <th style="width:10%">Operator</th>
            <th style="width:15%">Nama</th>
            <th style="width:75%">Deskripsi</th>
        </tr>
        <tr>
            <td>&amp;&nbsp;</td>
            <td>AND</td>
            <td>Set setiap bit menjadi 1 jika kedua bit tersebut adalah 1</td>
        </tr>
        <tr>
            <td>|</td>
            <td>OR</td>
            <td>Set setiap bit menjadi 1 jika salah satu dari dua bit adalah 1</td>
        </tr>
        <tr>
            <td>&nbsp;^</td>
            <td>XOR</td>
            <td>Set setiap bit menjadi 1 jika hanya satu dari dua bit yang 1</td>
        </tr>
        <tr>
            <td>~&nbsp;</td>
            <td>NOT</td>
            <td>Menghindari semua bit</td>
        </tr>
        <tr>
            <td>&lt;&lt;</td>
            <td>Zero fill left shift</td>
            <td>Geser ke kiri dengan mendorong angka nol dari kanan dan biarkan bit paling kiri jatuh</td>
        </tr>
        <tr>
            <td>&gt;&gt;</td>
            <td>Signed right shift</td>
            <td>Geser ke kanan dengan mendorong salinan bit paling kiri dari kiri, dan biarkan bit paling kanan jatuh</td>
        </tr>
    </tbody>
</table>

<h3>- Membership operators</h3>
<p>Membership operators digunakan untuk menguji apakah urutan disajikan dalam suatu objek:</p>
<table style="margin-left:0;">
    <tbody>
        <tr>
            <th style="width:25%">Operator</th>
            <th style="width:35%">Deskripsi</th>
            <th style="width:30%">Contoh</th>
        </tr>
        <tr>
            <td>in&nbsp;</td>
            <td>Mengembalikan nilai benar jika nilai yang ditentukan terdapat dalam objek</td>
            <td>x in y</td>
        </tr>
        <tr>
            <td>not in</td>
            <td>Mengembalikan nilai benar jika nilai yang ditentukan tidak terdapat dalam objek</td>
            <td>x not in y</td>
        </tr>
    </tbody>
</table>

<h3>- Identity operators</h3>
<p>Identity operators digunakan untuk membandingkan objek, not jika mereka sama, tetapi jika mereka sebenarnya adalah objek yang sama, dengan lokasi memori yang sama:</p>
<table style="margin-left:0;">
    <tbody>
        <tr>
            <th style="width:25%">Operator</th>
            <th style="width:35%">Deskripsi</th>
            <th style="width:30%">Contoh</th>
        </tr>
        <tr>
            <td>is&nbsp;</td>
            <td>Mengembalikan nilai benar jika kedua variabel adalah objek yang sama</td>
            <td>x is y</td>
        </tr>
        <tr>
            <td>is not</td>
            <td>Mengembalikan nilai true jika kedua variabel bukan objek yang sama</td>
            <td>x is not y</td>
        </tr>
    </tbody>
</table>

<h2>3. Buat masing-masing sebuah contoh program yang menggunakan single if statement dan nested if statement pada python! </h2>

In [14]:
a = 20
b = 30
# Single if
if a < b:
    print("a lebih kecil dari b")

# Nested if
if a < b:
    if a % 2 == 0:
        print("a lebih kecil dari b dan a adalah genap")

a lebih kecil dari b
a lebih kecil dari b dan a adalah genap

<h2>4. Buat masing-masing sebuah contoh program yang menggunakan while loop, for loop dan nested loops pada python! </h2>

In [20]:
an = [7, 5, 3, 8, 5, 10, 4, 6, 2, 13]

# For loop
print("For loop")
for x in an:
    print(x)

For loop
7
5
3
8
5
10
4
6
2
13

In [21]:
# While loop
print("While loop")
i = 0
while i < 10:
    print(i)
    i += 1

While loop
0
1
2
3
4
5
6
7
8
9

In [22]:
# Nested loop 
print("Nested loop")
for i in range(len(an)):
    for j in range(len(an)):
        if an[i] < an[j]:
            temp = an[i]
            an[i] = an[j]
            an[j] = temp
for x in an:
    print(x)

Nested loop
2
3
4
5
5
6
7
8
10
13

<h2>5. Buat masing-masing sebuah contoh program yang menggunakan break statement, continue statement, dan pass statement pada proses looping!</h2>

In [24]:
nomor = 0

for nomor in range(10):
    nomor = nomor + 1
    
    if nomor == 5:
        break
    print('Nomornya adalah', nomor)

Nomornya adalah 1
Nomornya adalah 2
Nomornya adalah 3
Nomornya adalah 4

In [25]:
nomor = 0

for nomor in range(10):
    nomor = nomor + 1
    
    if nomor == 5:
        continue
    print('Nomornya adalah', nomor)

Nomornya adalah 1
Nomornya adalah 2
Nomornya adalah 3
Nomornya adalah 4
Nomornya adalah 6
Nomornya adalah 7
Nomornya adalah 8
Nomornya adalah 9
Nomornya adalah 10

In [26]:
nomor = 0

for nomor in range(10):
    nomor = nomor + 1
    
    if nomor == 5:
        pass
    print('Nomornya adalah', nomor)

Nomornya adalah 1
Nomornya adalah 2
Nomornya adalah 3
Nomornya adalah 4
Nomornya adalah 5
Nomornya adalah 6
Nomornya adalah 7
Nomornya adalah 8
Nomornya adalah 9
Nomornya adalah 10