In [ ]:
# b)table karyawan dan cuti karyawan
import psycopg2
conn = psycopg2.connect(database = "kantor", user = "postgres", password = "akmal", host = "localhost", port = "5432")
cur = conn.cursor()

cur.execute(
    '''
    CREATE TABLE IF NOT EXISTS karyawan(
    Nomor_induk VARCHAR(10) NOT NULL,
    Nama VARCHAR(30),
    Alamat TEXT,
    Tanggal_lahir DATE,
    Tanggal_masuk DATE,
    PRIMARY KEY(Nomor_induk)
    );

    CREATE TABLE IF NOT EXISTS cuti_karyawan(
    id INT NOT NULL,
    Nomor_induk VARCHAR(10),
    Tanggal_mulai DATE,
    Lama_cuti SMALLINT,
    Keterangan TEXT,
    PRIMARY KEY(id));
    '''
)
conn.commit()

In [8]:
# c) isi table karyawan dan cuti karyawan
import psycopg2
conn = psycopg2.connect(database = "kantor", user = "postgres", password = "akmal", host = "localhost", port = "5432")
cur = conn.cursor()

cur.execute(
    '''
    INSERT INTO karyawan (Nomor_induk, Nama, Alamat, Tanggal_lahir, Tanggal_masuk)
    VALUES 
    ('IP06001', 'Agus', 'Jln. Gajah Mada 115A, Jakarta Pusat', '1970-08-01', '2006-07-07'),
    ('IP06002', 'Amin', 'Jln. Bungur sari v No. 178 Bandung', '1977-05-03', '2006-07-07'),
    ('IP06003', 'Yusuf', 'Jln. Yosodpuro 15, Surabaya', '1973-08-09', '2006-07-07'),
    ('IP07004', 'Alyssa', 'Jln. Cendana No. 6 Bandung', '1983-02-14', '2007-01-05'),
    ('IP07005', 'Maulana', 'Jln. Ampera Raya No 1', '1985-10-10', '2007-02-05'),
    ('IP07006', 'Afika', 'Jln. Pejaten Barat No 6A', '1987-03-09', '2007-06-09'),
    ('IP07007', 'James', 'Jln. Padjadjaran No. 111, Bandung', '1988-05-19', '2007-06-09'),
    ('IP09008', 'Octavanus', 'Jln. Gajah Mada 101, Semarang', '1988-10-07', '2008-08-08'),
    ('IP09009', 'Nugroho', 'Jln. Duren Tiga 196, Jakarta Selatan', '1988-01-20', '2008-11-11'),
    ('IP090010', 'Raisa', 'Jln. Nangka Jakarta Selatan', '1989-12-29', '2009-02-09');
    
    INSERT INTO cuti_karyawan(id, Nomor_induk, Tanggal_mulai, Lama_cuti, Keterangan)
    VALUES
    (1, 'IP06001', '2012-02-01', 3, 'Acara keluar'),
    (2, 'IP06001', '2012-02-13', 2, 'Anak sakit'),
    (3, 'IP07007', '2012-02-15', 1, 'Nenek sakit'),
    (4, 'IP06003', '2012-02-17', 1, 'Mendaftar sekolah anak'),
    (5, 'IP07006', '2012-02-20', 5, 'Menikah'),
    (6, 'IP07004', '2012-02-27', 1, 'Imunisasi anak');
    '''
)
conn.commit()

In [9]:
# d) empat orang karyawan yang pertama kali masuk (bergabung). 
import psycopg2
conn = psycopg2.connect(database = "kantor", user = "postgres", password = "akmal", host = "localhost", port = "5432")
cur = conn.cursor()

cur.execute("SELECT Nama FROM karyawan ORDER BY Tanggal_masuk LIMIT 4;")
data = cur.fetchall()

print("Empat orang karyawan yang pertama kali masuk adalah : ")
for user in data:
    print("-", user[0])

Empat orang karyawan yang pertama kali masuk adalah :
- Agus
- Yusuf
- Amin
- Alyssa

In [10]:
# e. dua orang karyawan yang terakhir kali masuk (bergabung) 
import psycopg2
conn = psycopg2.connect(database = "kantor", user = "postgres", password = "akmal", host = "localhost", port = "5432")
cur = conn.cursor()

cur.execute("SELECT Nama FROM karyawan ORDER BY Tanggal_masuk DESC LIMIT 2;")
data = cur.fetchall()

print("Dua orang karyawan yang terakhir kali masuk adalah : ")
for user in data:
    print("-", user[0])

Dua orang karyawan yang terakhir kali masuk adalah :
- Raisa
- Nugroho

In [12]:
# f) nama karyawan yang paling banyak mengambil cuti beserta keterangan cutinya
import psycopg2
conn = psycopg2.connect(database = "kantor", user = "postgres", password = "akmal", host = "localhost", port = "5432")
cur = conn.cursor()

cur.execute(
    '''
    SELECT karyawan.Nama, cuti_karyawan.keterangan 
    FROM karyawan 
    JOIN cuti_karyawan ON karyawan.Nomor_induk = cuti_karyawan.Nomor_induk 
    WHERE cuti_karyawan.lama_cuti = (SELECT MAX(Lama_cuti) FROM cuti_karyawan)
    ''')
data = cur.fetchall()

print("Karyawan yang paling lama mengambil cuti adalah:")
for user in data:
    print(user[0], "dengan keterangan", user[1])

Karyawan yang paling lama mengambil cuti adalah:
Afika dengan keterangan Menikah

In [13]:
# g) nama karywan yang memiliki umur paling tua
import psycopg2
conn = psycopg2.connect(database = "kantor", user = "postgres", password = "akmal", host = "localhost", port = "5432")
cur = conn.cursor()

cur.execute("SELECT Nama FROM karyawan WHERE Tanggal_lahir = (SELECT MIN(Tanggal_lahir) FROM karyawan);")
data = cur.fetchall()

print("Karyawan yang memiliki umur paling tua adalah:")
for user in data:
    print("-", user[0])

Karyawan yang memiliki umur paling tua adalah:
- Agus

In [14]:
# h)  nama karywan yang memiliki umur paling muda
import psycopg2
conn = psycopg2.connect(database = "kantor", user = "postgres", password = "akmal", host = "localhost", port = "5432")
cur = conn.cursor()

cur.execute("SELECT Nama FROM karyawan WHERE Tanggal_lahir = (SELECT MAX(Tanggal_lahir) FROM karyawan);")
data = cur.fetchall()

print("Karyawan yang memiliki umur paling muda adalah:")
for user in data:
    print("-", user[0])

Karyawan yang memiliki umur paling muda adalah:
- Raisa

In [15]:
# i)  nama-nama karyawan yang paling dulu masuk kerja setelah cuti
import psycopg2
conn = psycopg2.connect(database = "kantor", user = "postgres", password = "akmal", host = "localhost", port = "5432")
cur = conn.cursor()

cur.execute(
    '''
    SELECT Nama
    FROM karyawan
    JOIN cuti_karyawan ON cuti_karyawan.Nomor_induk = karyawan.Nomor_induk
    WHERE cuti_karyawan.Lama_cuti = (SELECT MIN(Lama_cuti) FROM cuti_karyawan);
    ''')
data = cur.fetchall()

print("Karyawan yang paling dulu masuk kerja setelah cuti adalah:")
for user in data:
    print("-", user[0])

Karyawan yang paling dulu masuk kerja setelah cuti adalah:
- Yusuf
- Alyssa
- James

In [16]:
# j) total cuti yang diambil para karyawan
import psycopg2
conn = psycopg2.connect(database = "kantor", user = "postgres", password = "akmal", host = "localhost", port = "5432")
cur = conn.cursor()

cur.execute( 
    '''
    SELECT SUM(Lama_cuti) AS jumlah
    FROM cuti_karyawan;
    ''')
data = cur.fetchall()
print("\nTotal lama cuti yang diambil para karyawan sebanyak", data[0][0], "hari")

Total lama cuti yang diambil para karyawan sebanyak 13 hari

In [17]:
# k)  Apakah ada karyawan yang tidak mengambil cuti? Jika iya tentukan nama-nama karyawan tersebut
import psycopg2
conn = psycopg2.connect(database = "kantor", user = "postgres", password = "akmal", host = "localhost", port = "5432")
cur = conn.cursor()

cur.execute( 
    '''
    SELECT Nama
    FROM karyawan
    WHERE Nomor_induk NOT IN (SELECT Nomor_induk FROM cuti_karyawan);
    ''')
data = cur.fetchall()
print("Karyawan yang tidak mengambil cuti adalah:")
for user in data:
    print("-", user[0])

Karyawan yang tidak mengambil cuti adalah:
- Amin
- Maulana
- Octavanus
- Nugroho
- Raisa