In [1]:
text1 = "the car is driven on the road"
text2 = "the truck is driven on the highway"
text1 = text1.split(" ")
text2 = text2.split(" ")

word_set = set(text1).union(set(text2))
word_dictA = dict.fromkeys(word_set, 0)
word_dictB = dict.fromkeys(word_set, 0)

In [2]:
def menghitung_tf(word_dict, text):
    tf_dict = {}
    for word in text:
        word_dict[word] += 1

    text_count = len(text)
    for word, count in word_dict.items():
        tf_dict[word] = count/float(text_count)
    return tf_dict

In [3]:
tfA = menghitung_tf(word_dictA, text1)
tfA

{'driven': 0.14285714285714285,
 'the': 0.2857142857142857,
 'road': 0.14285714285714285,
 'truck': 0.0,
 'highway': 0.0,
 'on': 0.14285714285714285,
 'car': 0.14285714285714285,
 'is': 0.14285714285714285}

In [4]:
tfB = menghitung_tf(word_dictB, text2)
tfB

{'driven': 0.14285714285714285,
 'the': 0.2857142857142857,
 'road': 0.0,
 'truck': 0.14285714285714285,
 'highway': 0.14285714285714285,
 'on': 0.14285714285714285,
 'car': 0.0,
 'is': 0.14285714285714285}

In [5]:
import pandas as pd
pd.DataFrame([word_dictA, word_dictB])

   car  driven  highway  is  on  road  the  truck
0    1       1        0   1   1     1    2      0
1    0       1        1   1   1     0    2      1

In [6]:
import math
word_dict_list = [word_dictA, word_dictB]

def menghitung_idf(doc_list):
    idf_dict = {}
    N = len(doc_list)

    idf_dict = dict.fromkeys(doc_list[0].keys(), 0)
    for doc in doc_list:
        for word, val in doc.items():
            if val > 0:
                idf_dict[word] += 1
    
    for word, val in idf_dict.items():
        idf_dict[word] = math.log10(N / float(val))

    return idf_dict

In [7]:
idf_word = menghitung_idf(word_dict_list)

In [8]:
def menghitung_tf_idf(tf, idf):
    tfidf = {}
    for word, val in tf.items():
        tfidf[word] = val*idf[word]
    return tfidf

In [9]:
tfidfA = menghitung_tf_idf(tfA, idf_word)
tfidfB = menghitung_tf_idf(tfB, idf_word)

In [10]:
def create_dataframe_tf_idf(tweets_list, total_tweets):

    wordcloud = []
    for tweet in tweets_list[:total_tweets]:
        wordcloud += tweet

    term_tf_idf = pd.DataFrame()
    term_tf_idf['term'] = list(dict.fromkeys(wordcloud))

    total_words_in_tweets = len(term_tf_idf['term'])

    for i in range(total_tweets):
        name = 'tf_text_' + str(i+1)
        term_tf_idf[name] = list(map(lambda tweet: tweets_list[i].count(tweet), term_tf_idf['term']))

    idf = []
    tf_idf = []
    for i in range(total_words_in_tweets):
        val = 0
        for j in range(total_tweets):
            name = 'tf_text_' + str(j+1)
            if float(term_tf_idf[name][i]) > 0:
                val += 1
        
        idf.append(math.log10(total_tweets / float(val)))
    
    for  in range(total_tweets):
        name = 'tf_idf_text_' + str(i+1)

    term_tf_idf['idf_tweet'] = idf

    return term_tf_idf

        car  driven   highway   is   on      road  the     truck
0  0.043004     0.0  0.000000  0.0  0.0  0.043004  0.0  0.000000
1  0.000000     0.0  0.043004  0.0  0.0  0.000000  0.0  0.043004